/* ********Custom Properties******* */
:root {
  --first-color: #D90062;  
  --first-alpha-color: rgba(217,0,98,0.75);
  --second-color: #14192d;
  --second-alpha-color: rgba(20, 45, 45, 0.75);
  --third-color: #501464;
  --third-alpha-color: rgba(80, 20, 100, 0.75);
  
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);

  --font: "Raleway", sans-serif;

  --maximo-width: 1200px;
  
  --header-height:4rem;
}




/********************** Tipos *******************************/

@font-face {
    font-family: 'zag-trialbold';
    src: url('./KITS/webfontkit-20220315-133148/zag-trial-bold-webfont.woff2') format('woff2'),
         url('./KITS/webfontkit-20220315-133148/zag-trial-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'zag-trialnormal';
    src: url('./KITS/webfontkit-20220315-133148/zag-trial-normal-webfont.woff2') format('woff2'),
         url('./KITS/webfontkit-20220315-133148/zag-trial-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'zag-triallight';
    src: url('./KITS/webfontkit-20220315-133148/zag-trial-regular-webfont.woff2') format('woff2'),
         url('./KITS/webfontkit-20220315-133148/zag-trial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'zag-trialthin';
    src: url('./KITS/webfontkit-20220315-133148/zag-trial-thin-webfont.woff2') format('woff2'),
         url('./KITS/webfontkit-20220315-133148/zag-trial-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'trackregular';
    src: url('./KITS/webfontkit-20220315-134909/track-regular-webfont.woff2') format('woff2'),
         url('./KITS/webfontkit-20220315-134909/track-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'trackregular_italic';
    src: url('./KITS/webfontkit-20220315-134909/track-regularitalic-webfont.woff2') format('woff2'),
         url('./KITS/webfontkit-20220315-134909/track-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





/* ********Reset******* */
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth; /*suaviza el movimiento el scroll*/
}

*,
*::after,
*::before {
box-sizing: inherit;
}

body{
 margin:0;
 overflow-x: hidden;
 color: var(--text-color);
}
 a{
     color: var(--link-color);
     transition: all 0.5s ease-out;
 }

 a:hover{
    opacity:0.5;
}

h1{
    font-family: 'zag-trialbold';
    margin:0;
    font-size: 2rem;
}

h2{
    
    margin:0;
    font-size: 1.5rem;
}

h3{
    font-family: zag-trialbold;
    margin:0;
    font-size: 2.2rem;
}

h4{
    margin:0;
    font-size: 1rem;
}

h5{
    
    margin:0;
    font-size: 0.85rem;
}

h6{
    margin:0;
    font-size: 0.7rem;
}

img {
    max-width: 100%;
    height: auto;
}

p{
    line-height: 1.6;
}








/* ********Components******* */


/* CAROUSEL */ 



/* *********** CONTACT FORM ********** */

.contact-form {
    margin: 2rem auto;
    padding:  1rem;
    max-width:  800px;
}

.contact-form > *{
   padding: 0.5rem;
   margin:  1rem auto;
   display: block;
   width:  100%;
}

.contact-form input,
.contact-form textarea {
 font-size:  .85rem;
 font-family: zag-trialbold;
}

.contact-form input {
border: 0;
border-bottom: thin solid var(--gray-dark-color);
padding-left: 0;
}

.contact-form textarea{
    border: thin solid var(--gray-dark-color);
    resize: none;
}

.contact-form input[type='submit']{
    margin-top:  0;
    cursor: pointer;
    transition: all 0.5s ease-out
}

.contact-form input[type='submit']:hover{
    opacity: 0.75;
}

.contact-form *::placeholder{
    color: var(--gray-dark-color);
}

.contact-form-response {
    padding: 1rem;
    width:  400px;
    text-align: center;
    background-color: var(--white-color);
}

.contact-form-response svg{
    margin-top: 2rem;
    width:  4rem;
    height:  4rem;
    fill: var(--first-color);
}

.modal#gracias:target{
    opacity: 1;
    pointer-events: auto;
}

@media screen and (min-width:1024px){
    .contact-form {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 1rem;
    }
    
    .contact-form input,
    .contact-form textarea {
        font-size:  1rem;
    }
    
    .contact-form textarea,
    .contact-form-loader{
        grid-column: span 2;
    }

    .contact-form input[type='submit']{
        margin-left: 0;
    }
}



/* hero image */

.hero-image{
    background-image: var(--hero-image) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--hero-opacity-color);
}

.hero-image-title {
    font-family: 'zag-trialbold';
    /*font-family: 'trackregular';*/
    font-size: 11.5vw;
    color:var(--hero-text-color);
}


/* Menu */
.menu-btn{
    outline: thin solid var(--first-color);
    border: 0;
    cursor: pointer;
    background-color: var(--second-color);
    
}

.menu-btn svg{
    fill: var(--first-color);
}

.menu{
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    opacity: 0;
    pointer-events:none;
    transition: opacity 0.5s ease;

}

.menu.is-active{
    opacity: 1;
    pointer-events: auto;
}

.menu a {
    font-family: 'zag-trialthin';
    /*font-family: 'trackregular';*/
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--black-color);

}

.menu a:hover{
    
    color:var(--gray-color);
    background-color: var(--first-color);
}


@media screen and (min-width:1024px) {
.menu-btn{
    display:none;
}   

.menu{
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events:auto;
    
   
}

.menu a{
padding: 0 1rem;
}

.menu a:last-child{
    padding-right: 0;
}

.menu a:hover{
background-color: transparent;
}

}



/*ventana modal*/

.modal{
position: fixed;
z-index: 999;
top:0;
right:0;
bottom: 0;
left:0;
display:flex;
justify-content: center;
align-items: center;
background-color:  var(--black-alpha-color);
opacity:0;
pointer-events:none;
transition: all 1s;
}

.modal-content{
    position: relative;
}

.modal-close{
    position: absolute;
    top:1rem;
    right: 1rem;
}


.modal-close svg{
    width:  3rem;
    height: 3rem;
    fill: var(--first-color);
}


.modal[id|="trabajo"]:target{
    opacity:1;
    pointer-events: auto;

}

/* progress bar*/

progress{
    width: 100%;
    height: 1rem;
    background-color: var(--gray-color);
}

progress::-webkit-progress-bar{
    background-color: var(--gray-color);
}

progress::-webkit-progress-value{
    background-color: var(--gray-dark-color);
}

progress::-moz-progress-bar{
    background-color: var(--gray-dark-color);
}

.progress {
    margin: 1rem auto;
}

.progress > p {
        margin: 0;
        display:flex;
        justify-content: space-between;
        font-size: 0.85rem;
     
}

/* ********Utilities******* */


.avatar{
    border-radius: 50%;
    width:  150px;
    height: 150px;
}

.bg-gray-light {
    background-color: var(--gray-light-color);
}



.box-shadow-1 {
    box-shadow:.25rem .25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn{
    border-radius: .5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--first-color);
}




.container {
    margin-left:auto;
    margin-right: auto;
    max-width: var(--maximo-width);
    align-content: center;
}

.gray-scale {
    filter: grayscale(1);
}



.none {
    display: none;
}


.section{
    padding: 2rem 1rem;
}


.section-title {
    font-family: 'zag-trialthin';
    font-size: 4rem;
    border-bottom: thin solid var(--black-color);
    margin: 2rem auto;
    padding: .5rem 1rem;
    text-align: center;
    color: var(--title-color);
    width: 250px;

}

.services-clientes > .container {
    display: grid;
    grid-template-columns: repeat(6,16%);
    align-content: center;
    
}

.services-clientes .section-title{
    grid-column: span 6;
}

.text-first-color{
    color: var(--first-color);
}

.text-left{
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

@media screen and (min-width:1024px) {
    .full-lg-screen{
        width: 100%;
        min-height: 100vh;
    }
    
    .text-lg-left{
        text-align: left;
    }
    
    .text-lg-center {
        text-align: center;
    }
    
    .text-lg-right {
        text-align: right;
    }

     menu{
        background-color: transparent;
    }
}



/* ********Site Styles******* */


.about > article {
    margin-bottom: 2rem;
}


.cliente-card {
    margin: 1rem auto;
    padding: 0;
    text-align: center;

}

.contact-card{
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.contact-card > svg{
    width:  2rem;
    height:  2rem;
    fill: var(--black-color);
}

.contact-card > small{
    margin-top: -1rem;
}


.footer{
    margin-bottom: var(--header-height);
    padding: 1.5rem;
    text-align: center;
    background-color: var(--white-color);
    color: var(--white-color);
    border-top: thin solid var(--black-color) ;
}



.header{
    position:fixed;
    left:0;
    bottom:0;
    z-index:999;
    padding: 1rem;
    width:100%;
    height: var(--header-height);
    background-color:  var(--white-color);
    border-bottom: thin solid var(--black-color) ;
}

.header >.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    font-family: 'zag-triallight';
    /*font-family: 'trackregular';*/
    color: var(--black-color);
    font-weight: bold;
    font-size: 1.8rem;
    text-decoration: none;
}


.portfolio-card {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;

}

.portfolio-card img {
    width:100%;
    height: 100%;
    object-fit:cover;

}

.portfolio-card-info {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--gray-color);
    color: var(--white-color);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.portfolio-card-info h3 {
    font-size: 3rem;
    color: black;
    }

    .portfolio-card-info p {
        color: black;
        }



.portfolio-card:hover .portfolio-card-info{
    opacity:1;
    pointer-events: out;
}

.portfolio-card-info > div{
 padding: 1rem;
 border: thin solid var(--black-color);
 width: 100%;
 height: 100%;
}


.portfolio-modal {
    background-color: var(--white-color);
    padding: 1rem;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.portfolio-modal h3{
    border-bottom: medium solid var(--black-color);
    padding: .5rem 0;
    margin: 1rem auto;
    color: var(--black-color);
}

.portfolio-details {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: 2rem;
}

.portfolio-details b{
    color: var(--black-color);
}

.service-card {
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;

}

.service-card h3 {
    color: var(--title-color);
}

.service-card svg {
    margin-bottom: 1.25rem;
    fill: var(--first-color);

}


.social-media a {
    padding: 0 0.4rem;
    text-decoration: none;
}


.social-media svg{
    width:  1.5rem;
    height: 1.5rem;
}

@media screen and (min-width:768px) {

    .contact-cards {
        display: grid;
        grid-template-columns:  repeat(2, 48%);
        justify-content:space-between;
    }

    .portfolio > .container {
        display: grid;
        grid-template-columns:  repeat(2, 50%);
    }

    .portfolio .section-title{
        grid-column: span 2;
    }


    .portfolio-modal{
        flex-direction: row;
        max-width: 800px;
    }

    .portfolio-info{
        margin: 1rem;
        align-self: center;
    }

    .services > .container {
        display: grid;
        grid-template-columns: repeat(2,45%);
        justify-content: space-between;
        align-content: center;
    }

    .services .section-title{
        grid-column: span 2;
    }
   
    .services-clientes > .container {
        display: grid;
        grid-template-columns: repeat(6,16%);
        align-content: center;
        
    }

    .services-clientes .section-title{
        grid-column: span 6;
    }
    menu{
        background-color: transparent;
    }
    
}

@media screen and (min-width:1024px) {
    .about{
        display:grid;
        grid-template-columns: repeat(3, 30%);
        justify-content: space-between;
    }

    .contact-cards {
        grid-template-columns:  repeat(3, 30%);
        
    }

.footer {
    margin-bottom: 0;
}

.header{
    position: sticky;
    top: 0;
    padding:0.5rem;
    height: calc(var(--header-height)- 0.5rem); 
}  

.portfolio > .container {
    grid-template-columns:  repeat(3, 1fr);
}

.portfolio .section-title{
    grid-column: span 3;
}
  
.services > .container {
    grid-template-columns: repeat(3,30%);
    
}
.services-clientes > .container {
    grid-template-columns: repeat(6,16%);
    
}
.services .section-title{
    grid-column: span 3;
}

.services-clientes .section-title{
    grid-column: span 6;
}


}


